<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="__JS__/layuiadmin/layui/css/layui.css" />
		<script src="__JS__/fun.js"></script>
		<link rel="stylesheet" href="__CSS__/common.css" />
		<link
			rel="stylesheet"
			href="__JS__/utf8-php/themes/default/css/umeditor.min.css"
		/>
		<script src="__JS__/utf8-php/third-party/jquery.min.js"></script>
		<script src="__JS__/utf8-php/umeditor.config.js"></script>
		<script src="__JS__/utf8-php/umeditor.min.js"></script>
		<script src="__JS__/utf8-php/lang/zh-cn/zh-cn.js"></script>
		<script src="__JS__/layuiadmin/layui/layui.js"></script>
		<title>Document</title>
	</head>
	<body>
		<div class="layui-card">
			<div class="layui-card-header">新闻添加</div>
			<div class="layui-card-body">
				<div class="layui-form" action="">
					<div class="layui-form-item">
						<label class="layui-form-label">标题</label>
						<div class="layui-input-block">
							<input
								type="text"
								name="title"
								required
								lay-verify="required"
								placeholder="请输入标题"
								autocomplete="off"
								class="layui-input"
								style="width: 500px;"
							/>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">类别</label>
						<div class="layui-input-block" style="width: 500px;">
							<select name="sortname" lay-verify="required" id="sortname">
								<option value=""></option>
							</select>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">发布</label>
						<div class="layui-input-block">
							<input type="radio" name="publish" value="发布" title="发布" />
							<input
								type="radio"
								name="publish"
								value="草稿"
								title="草稿"
								checked
							/>
						</div>
					</div>
					<div class="layui-form-item" id="img_upload">
						<label class="layui-form-label" >封面</label>
						<div class="layui-input-block">
							<!-- //TODO -->
							<input type="file" name="img" id="files" />
							<span>文件上传</span>
							<img src="__IMG__/ia.jpg"   id="upload_img_show" />
						</div>
					</div>
					<div class="layui-form-item layui-form-text">
						<label class="layui-form-label">内容</label>
						<div class="layui-input-block">
							<script
								type="text/plain"
								id="myEditor"
								style="width: 1000px; height: 600px;"
							></script>
							<div class="clear"></div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn" lay-submit lay-filter="formDemo">
								立即提交
							</button>
							<button type="reset" class="layui-btn layui-btn-primary">
								重置
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			//实例化编辑器
			const um = UM.getEditor("myEditor");
			// 获得内容
			function getContent() {
				const arr = [];
				arr.push("使用editor.getContent()方法可以获得编辑器的内容");
				arr.push("内容为：");
				arr.push(UM.getEditor("myEditor").getContent());
			}
			// 插入html内容
			function insertHtml() {
				const value = prompt("插入html代码", "");
				um.execCommand("insertHtml", value);
			}
			//Demo
			layui.config({
				base: "__JS__/",
			});
			layui.use(["form", "layedit", "layui_defind"], function () {
				const form = layui.form;
				const layedit = layui.layedit;
				const la_defind = layui.layui_defind;
				la_defind.showimg(['jpg','gif','png'],true);
				layedit.build("demo"); //建立编辑器
				//获得选项
				la_defind.getoption("{:url('admin/news/getoption')}","add");
				//监听提交
				form.on("submit(formDemo)", function (data) {
					const file_obj = document.getElementById('files').files[0];
					const title = $("input[name='title']").val();
					const sortname = $("select option:checked").val();
					const publish = $("input[name='publish']:checked").val();
					const content = UM.getEditor("myEditor").getContent();
					const formData = new FormData();
					if(!file_obj) {
						layer.msg('请上传一张图片');
						return false;
					};
					formData.append('title',title);
					formData.append('sortname',sortname);
					formData.append('publish',publish);
					formData.append('content',content);
					formData.append('files',file_obj);
					// 添加数据发送的请求
					la_defind.addfiles("{:url('admin/news/save')}",formData,'{:url("admin/news/index")}');
				});
			});
		</script>
	</body>
</html>
