{include file="common/header"}
        <!-- 新闻叶的主体部分 -->
        <div id="news" class="container">
            {include file='common/emp_title'}
            <div class="news-content">
                <ul>
                    <ul>
                        {volist name='list' id='v'}
                        <li class="clearfix">
                            <div class="left">
                                <b>{$v.add_time|date='d'}</b>
                                <br>
                                <span>{$v.add_time|date='Y-m'}</span>
                            </div>
                            <div class="right">
                                <a href="{:url('index/empservice/show')}?classid={$classid}&id={$v.id}">{$v.title}</a>
                                <p>{$v.content|raw|strip_tags|trim|mb_substr=0,160}</p>
                            </div>
                        </li>
                        {/volist}
                    </ul>
                </ul>
            </div>
            <div id="paging">
                {$page|raw}
            </div>
        </div>


   {include file='common/footer'}